{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
  <main class="tag-detail">
    <div>
      <a href="{% url 'meal_plans_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
    </div>
    <h2>{{ mealplan.name }}</h2>

    <div>
        {% for recipe in mealplan.recipes.all %}
        <a href="{% url 'recipe_detail' recipe.pk %}">
        <p>
            {{ recipe.name }}
       </p>
        {% endfor %}
      </a>
    </div>
  </main>
{% endblock content %}